<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    #centrarFoto{
      width: 20px;
      height: 20px;
      margin-left: auto;
      margin-right: auto;
    }
</style>


<br><br><br><br><br>
<div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">Profile</h3>
                    </div>

                    <div *ngIf="profile" class="panel-body"> 
                        
                        <span class="div1"> ID Usuario: </span> {{id_visitor}} <br>
                        <span class="div1"> Nombre Usuario: </span> {{name_visitor}}

                    </div>
                    
                    <div *ngIf="visible" class="panel-body">
                        <form [formGroup]="UpdateForm" (ngSubmit)="ProfileChangue(UpdateForm.value)">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <input type="text" name="NEWname" id="NEWname" class="form-control input-sm floatlabel" placeholder="Nuevo Nombre" formControlName="new_name">
                                </div>
                                 <div class="form-group col-xs-12">
                                    <input type="password" name="NEWpassword" id="NEWpassword" class="form-control input-sm floatlabel" placeholder="Nueva Contraseña" formControlName="new_password">
    			    		    </div>
                                <div class="form-group col-xs-12">
                                    <input type="password" name="NEWpassword2" id="NEWpassword2" class="form-control input-sm floatlabel" placeholder="Repetir Contraseña" formControlName="new_password2">
                                </div>
                            </div>
                            <input type="submit" value="Guardar" class="btn btn-info btn-block">
                        </form>                
                    </div>

                    <!-- Msg Error -->
                    <div class="alert alert-danger" *ngIf="errorStatus" role="alert">
                        <p>
                        {{ errorMsg }}
                        </p>
                    </div>

                </div>

                <div *ngIf="profile" class="centrarboton">
                    <button type="button" class="btn btn-primary" (click)= "clickChangue()"> Cambiar datos </button>
                </div>
            </div>            
        </div>        
    </div>