

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  vertical-align: center;
  background-color:tan;
  height: 97vh;
}
.map{
  background-color:lightgray;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(20, auto);
  border-radius: 2px;
  border-style: solid;
}
#centrarBotones{
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}
.celda{
  display: flex;
  vertical-align: center;
  font-size: 2.2vh;
  align-items: center;
  width: 3.98vh;
  height: 3.98vh;
  padding: 0;
  margin: 0;
  border-style: dotted;
  border-width: 1px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.buttons{
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  background-color:tomato;
  padding: 3vh;
  padding-top: 3.25vh;
  display: flex;
  flex-direction: column;
  width: 30vh;
  margin-left: 10vh;
  height: 30vh;
  border-style: dotted;

}

.button{
  display: inline-block;
  vertical-align: center;
  font-size: 3vh;
  color: aliceblue;
  background-color:darkslategrey;
  border-radius: 20px;
  text-align: center;
}

.up .down .mid{
  display: flex;
  justify-content: center;
}

#upbtn{
  width: 8vh;
  height: 8vh;
}

#downbtn{
  width: 8vh;
  height: 8vh;
}

#leftbtn{
  float: left;
  width: 8vh;
  height: 8vh;
}

#rightbtn{
  float: right;
  width: 8vh;
  height: 8vh;
}