<app-header></app-header>
<body>

  <div class="map">

      <div class="celda" *ngFor="let element of mapa2D; let i = index">
        <div *ngIf="element != null"></div>
        <div style="color:red; font-weight: bold; font-size: 2.5vh;"*ngIf="i == pos">
          X
        </div>
        <div *ngIf="i != pos">
          {{element}}
        </div>
        <div class="temp">
          {{mapaTemperaturas[i]}}ºC
        </div>
      </div>
      
  </div>
  <div class="buttons">
    <div class="up">
      <button id="upbtn" class="button" (click)="up()"> ↑ </button>
    </div>
    <div class="mid">
      <button id="leftbtn" class="button" (click)="left()"> ← </button>
      <button id="rightbtn" class="button" (click)="right()"> → </button>
    </div>
    <div class="down">
      <button id="downbtn" class="button" (click)="down()"> ↓ </button>
    </div>
  </div>
</body>